{:did        "did:web:etzhayyim.github.io:com-etzhayyim-tasuke"
 :handle     "tasuke.etzhayyim.com"
 :ipns-key   "tasuke-actor"
 :graph-type "com.etzhayyim.tasuke.graph"
 :published  "2026-06-28"
 :bundle [["data" "data"]
          [".well-known/did.json" "did.json"]
          ["README.md" "README.md"]]}
